<footer class="border-top">
    <div class="container-fluid footer-wrap u-clearfix">
        <section class="l-container c-footer">
            <p class="title">© 2017 BẢN QUYỀN THUỘC VỀ SHEE Group</p>
            <div class="content">
                <span><a data-toggle="modal" data-target="#modal-info">Giới thiệu</a></span>
                <span><a data-toggle="modal" data-target="#modal-contact">Liên hệ</a></span>
            </div>

        </section>
    </div>
</footer>
<!-- Modal giới thiệu -->
<div class="modal fade" id="modal-info" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Giới thiệu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>© 2017 BẢN QUYỀN THUỘC VỀ SHEE Group</p>
                <p>Giấy phép số: 0042/GP-STTTT do Sở TT&TT Tp.Hồ Chí Minh cấp ngày 05/09/2017</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal liên hệ -->
<div class="modal fade" id="modal-contact" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Liên hệ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><a class="text-decoration-none" href="tel:84911349349">Hotline: (+84) 911 349 349</a></p>
                <p><a class="text-decoration-none" href="mailto:shee@uranus.vn">Email:shee@uranus.vn</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

@functions {
    private Modal modalRef;

    private void ShowModal()
    {
        modalRef.Show();
    }
    private void HideModal()
    {
        modalRef.Hide();
    }
}
