@inherits LayoutComponentBase
@inject IdentityAuthenticationState state
@inject IUriHelper uriHelper

<AuthorizeView>
    <Authorized>
        <div class="sliderbar">
            <NavMenu />
        </div>
        <div class="main">
            <div class="container-fluid">
                @Body
            </div>
        </div>

        <div class="footer">
            <FooterMenu />
        </div>
    </Authorized>
</AuthorizeView>

@functions{

    [CascadingParameter]
    Task<AuthenticationState> AuthenticationState { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (!(await AuthenticationState).User.Identity.IsAuthenticated)
        {
            uriHelper.NavigateTo("/login");
        }
    }

    async Task LogoutClick()
    {
        await state.Logout();
        uriHelper.NavigateTo("/login");
    }
}