@page "/"
@inject IUriHelper uriHelper
@inject IdentityAuthenticationState state

<p>Welcome to your new app.</p>

<SurveyPrompt Title="How is Blazor working for you?" />

<label class="text-danger">@result</label>


@functions{
    string result { get; set; }
    [CascadingParameter]
    Task<AuthenticationState> AuthenticationState { get; set; }
    protected override async Task OnParametersSetAsync()
    {
        result = await state.cate();
    }
}