@page "/login"
@using Article.WebApp.Data
@using Article.WebApp.Domain
@using Microsoft.Extensions.Configuration
@inject LoginService _LoginService


<div>@_gateway</div>


<section class="u-center  shadow-sm p-3 mb-5 bg-white rounded">
    <div class="form-group ">
        <label for="txt_username">Tên đăng nhập</label>
        <input id="txt_username" class="form-control" type="text" @bind="MyUsername"></input>
    </div>

    <div class="form-group ">
        <label for="txt_password">Mật khẩu</label>
        <input id="txt_password" class="form-control" type="text" @bind="MyPassword"></input>
    </div>

    <button type="submit" onclick="@Event_Login" class="btn btn-primary">Đăng nhập</button>
</section>




@functions{
    string _gateway;
    public string MyPassword { get; set; }
    public string MyUsername { get; set; }
    public string MyResult = string.Empty;

    IConfiguration _configuration;

    Gateway _gate;
    protected override async Task OnInitAsync()
    {
        
        _gateway = _gate.Host;
    }

    protected void Event_Login()
    {
        MyResult = MyUsername;
    }
    void OnPasswordChange(string value)
    {
        MyPassword = value;
    }
    void OnUsernameChange(string value)
    {
        MyUsername = value;
    }
}

