@inherits LayoutComponentBase

<div class="sliderbar">
    <NavMenu />
</div>

<div class="main">
    <div class="container-fluid">
        @Body
    </div>
</div>

<div class="footer">
    <FooterMenu/>
</div>